include ../mixins/flash-messages

html(lang="en-US")

    //- HTML HEADER
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        title= title || 'Cru Central Coast Keystone'

        link(rel='stylesheet', type='text/css', href='/css/auth.css')
        script(src='/js/jquery/jquery-2.1.4.min.js')
        script(src='http://malsup.github.com/jquery.form.js')

    block content

        //- NOTE:
        //- There is no .container wrapping class around body blocks to allow more flexibility in design.
        //- Remember to include it in your templates when you override the intro and content blocks!

        //- The Intro block appears above flash messages (used for temporary information display)
        block intro

        //- Flash messages allow you to display once-off status messages to users, e.g. form
        //- validation errors, success messages, etc.
        flash-messages(messages)

        .auth-box
            a(href='/').auth-box-image: img(src='https://s3.us-west-1.amazonaws.com/static.crucentralcoast.com/images/logo.png', alt=brand)

            .auth-box-text    
                if user
                    h1 Reset Password for #{user.name.first} #{user.name.last}
                    
                    form#reset-form(action="api/users/changepassword", method="post", novalidate).auth-form
                        .form-group
                            label(for='password') Password
                            input(type='password', name='password', id='password').form-control
                        .form-group
                            label(for='confirmPassword') Confirm Password
                            input(type='password', name='confirmPassword', id='confirmPassword').form-control
                        button(type='submit').btn.btn-primary Reset Password
                else
                    h1 You are not Logged In
                    p please sign in
                        a(href='/keystone/signin') here

    block js
        script.
            // Initializes the basic push notification form
            $("#reset-form").ajaxForm({
                success: function (response) {
                    if (response.success === true) {
                        document.location.href = '/';
                    }
                    else {
                        alert(response)
                    }
                }
            });
