extends ../layouts/layout

block content
    .container: .jumbotron
        img(src='https://s3.us-west-1.amazonaws.com/static.crucentralcoast.com/images/logo.png', width='100')
        h1 Welcome
        p This is the temporary home of the admin panel for the Cru Central Coast App.
        p In the near future this page will switch to being the Cru Central Coast homepage and this admin panel will move to a new address.
        hr
        if user && user.canAccessKeystone
            p
                a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
        else
            p
                a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
                |  to use the Admin UI.
        hr
        p If you have any issues or questions please contact Kyle Fetcher.