extends ../layouts/layout

block css
    link(rel='stylesheet', type='text/css', href='css/push.css')

block content  
    .container
        .content
            h1 Send Push Notifications
            ul.nav.nav-tabs
                li.active: a(href="#individual", data-toggle="tab") Send a Notification
                li: a(href="#schedule", data-toggle="tab") Schedule a Notification
                li: a(href="#past", data-toggle="tab") Past Notifications
                li: a(href="#events", data-toggle="tab") Event Notifications
            .tab-content
            
            
                // Tab for sending a single notification
                .tab-pane.active#individual
                    h3 Send a Notification
                    form#push-form(action='api/notifications/push', method='POST')
                        .form-group
                            textarea.form-control#msg(class='', name='msg', placeholder='Message to send', required)
                        .form-group         
                            select.form-control(name='ministries[]', required, multiple)
                                option(value='', selected='', disabled) Select ministries                   
                                option(value='global') Everyone                 
                        .form-group
                            input.btn.btn-primary(type='submit', value='Send Push Notification')    
                            
                        #result    
                            
                .tab-pane#schedule
                    h3 Schedule a Notification
                    form#schedule-form(action='api/notifications', method='POST')
                        .form-group
                            textarea.form-control(name='body', placeholder='Message to send', required)
                        .form-group
                            .input-group.date#datetimepicker
                                input.form-control(name='time', type='text', placeholder='Time to send', required)
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                        .form-group         
                            select.form-control(name='ministries[]', required, multiple)
                                option(value='', selected='', disabled) Select ministries                   
                                option(value='global') Everyone
                        .form-group
                            input.btn.btn-primary(type='submit', value='Schedule Push Notification')
                    include ./includes/scheduled-notifications.jade
                                        
                .tab-pane#past
                    h3 Past Notifications
                    table.table.table-striped
                        tr
                            th
                            th Body
                            th Time Sent
                            th Ministries Sent To
                        each notification in past
                            tr 
                                td                                     
                                    a(href='/keystone/notifications/' + notification._id)
                                        span.glyphicon.glyphicon-pencil
                                td= notification.body
                                 - var date = new Date(notification.time);
                                td= date.toLocaleDateString('en-US', {month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit'})
                                td 
                                    if notification.ministries.length
                                        select
                                            each ministry in notification.ministries
                                                option= ministry.name
                                    else
                                        option Everyone  
                            
                .tab-pane#events
                    h3 Event Notifications
                    .row
                        .col-xs-4
                            .list-group
                                each event in events
                                    a.list-group-item(href='#', data-id= '' + event._id)= event.name
                        .col-xs-8
                            #event-notifications
block js
    script(src='http://malsup.github.com/jquery.form.js')
    script(src='js/push.js')
