h4 Event Notifications for #{event.name} 
    a(href='/keystone/events/' + event._id)
        span.glyphicon.glyphicon-pencil 
- var startDate = new Date(event.startDate.toISOString().replace("Z", "+0800"))
div 
    b Date: 
    = startDate.toLocaleDateString('en-US', {month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit'})
div 
    b Ministries: 
    each ministry in event.parentMinistries
        = ministry.name + ', '
hr
form.form-horizontal#create-event-notification-form(action='/api/notification/addEventNotification', method='post')
    h4 Create new notification for this event
    .form-group
        .col-xs-12  
            label.control-label Message to send
        .col-xs-12
            textarea.form-control(placeholder='message', name='message')
    .form-group  
        .col-xs-12
            label.control-label Time before event
        .col-xs-4
            input.form-control(type='number', min=0, name='days', placeholder='days')
        .col-xs-4
            input.form-control(type='number', min=0, max=23, name='hours', placeholder='hours')
        .col-xs-4
            input.form-control(type='number', min=0, max=59, name='minutes', placeholder='minutes')
     .form-group.col-xs-12
        input(name='event_id', type='text', hidden, value=event._id)
        input.btn.btn-primary(type='submit', value='Create new Notification')
br
#event-notification-table
    include ./event-notification-table.jade